<!DOCTYPE html>
<html >
  <body>
    <h1>this is the about section</h1>
    <p>We will discuss what should be entered</p>

    <ol>
      <li>First of all species should be one of these animals
        <ul>
          <li>zebra</li>
          <li>lion</li>
          <li>giraffe</li>
          <li>tiger</li>
          <li>cheetah</li>
          <li>bear</li>
          <li>monkey</li>
          <li>leopard</li>
          <li>jaguar</li>
          <li>elephant</li>
          <li>rhino</li>
        </ul>
      </li>
      <li>Second of all, age should be integer</li>
      <li>Third of all, colors should be one from these list
        <ul>
          <li style="color:red">red</li>
          <li>white</li>
          <li style="color:yellow">yellow</li>
          <li style="color:black">black</li>
          <li style="color:brown">brown</li>
          <li style="color:blue">blue</li>
          <li style="color:green">green</li>
          <li style="color:purple">purple</li>
          <li style="color:grey">grey</li>
        </ul>
      </li>
      <li>Fourth, Sex should be one of two
        <ul>
          <li>male</li>
          <li>female</li>
        </ul>
      </li>
      <li>Lastly, quantity should be integer</li>
    </ol>

    <p style="font-size:25px">If you follow all these rules, there won't be any problems</p>
    <p>
      <%= link_to 'Back to Home Page', root_path %>
    </p>
  </body>
</html>
