<h1 align="center">Welcome to the private Zoo website</h1>
<% if current_user %>
  <h3 align="center"><%= current_user.full_name %></h3>
  <div class="container">
    <%= link_to 'View Your Zoo', animals_path, class: "zoo-titler" %>
  </div>
<% end %>

<div class= "center jumbotron">

</div>
