<p id="notice"><%= notice %></p>

<h1 align="center">Your precious ZOO</h1>


<%= render 'listing', animals: @animals %>

<%= link_to 'Add Animal', new_animal_path,
                              class: "btn btn-xs btn-success" %>
